[ req ]
default_bits = 2048
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn
x509_extensions = v3_req

[ dn ]
countryName = US
organizationName = MOBE
organizationalUnitName = Data Science
commonName = *.docker.mobecloud.net
emailAddress = donald.rauscher@mobeforlife.com

[ v3_req ]
basicConstraints = critical,CA:TRUE
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.docker.mobecloud.net
